@font-face {
    font-family: "Muli Light";
    src: url("../fonts/Muli-Light.ttf");
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/Muli-Regular.ttf");
}

@font-face {
    font-family: "Muli SemiBold";
    src: url("../fonts/Muli-SemiBold.ttf");
}

@font-face {
    font-family: "Muli Bold";
    src: url("../fonts/Muli-Bold.ttf");
}

@font-face {
    font-family: "Muli ExtraBold";
    src: url("../fonts/Muli-ExtraBold.ttf");
}

@font-face {
    font-family: "Muli Black";
    src: url("../fonts/Muli-Black.ttf");
}